@tailwind base;
@tailwind components;
@tailwind utilities;

/* .rating{
  color: rgb(237, 181, 39)
  }
  .numReviews{
    color: white;
  } */

  body{
    margin: 0;
    padding: 0;
    /* background-color: black; */
    font: White;
  }